<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="logstartup_index.php" />
                <add value="index.php" />
                <add value="startlogin.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^login" ignoreCase="false" />
                    <action type="Rewrite" url="/logstartup_index.php" appendQueryString="false" />
                </rule>
                <rule name="config">
                    <match url="^config" />
                    <action type="Rewrite" url="/config.php" />
                </rule>
                <rule name="dashboard">
                    <match url="^auth_home" ignoreCase="false" />
                    <action type="Rewrite" url="/dashboard_admin.php" />
                </rule>
                <rule name="register">
                    <match url="^add_client" ignoreCase="false" />
                    <action type="Rewrite" url="/dashboard_register.inc.php" />
                </rule>
                <rule name="userRecord">
                    <match url="^view_record" ignoreCase="false" />
                    <action type="Rewrite" url="/dashboard_userRecord.php" />
                </rule>
                <rule name="activate">
                    <match url="^verify" />
                    <action type="Rewrite" url="/inc.activate.php" />
                </rule>
                <rule name="dashboard client">
                    <match url="^auth_dashboard" />
                    <action type="Rewrite" url="/dashboard_client.php" />
                </rule>
                <rule name="client register">
                    <match url="^user_auth" />
                    <action type="Rewrite" url="/dashboard_registerclientside.inc.php" />
                </rule>
                <rule name="File Manager">
                    <match url="^file_manager" />
                    <action type="Rewrite" url="/dashboard_fileManager.php" />
                </rule>
                <rule name="CLIENT USER LOGIN">
                    <match url="^user.aspx" />
                    <action type="Rewrite" url="/logstartup_indexClient.php" />
                </rule>
                <rule name="client user dashboard">
                    <match url="^dashboard_user" />
                    <action type="Rewrite" url="/dashboard_userClient.php" />
                </rule>
				
            </rules>
        </rewrite>

		<httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="Redirect" />
    </httpErrors>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>